html{
	background:linear-gradient(0deg,#FFFFFF,#FA58F4) no-repeat;
	background-attachment: fixed;
}
p{
	color: #009;
	font-size:14px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
ul{
	position: relative;
	left:50px;
	color: #00C;
	font-family:"Comic Sans MS", cursive;
	font-size:14px;
}
#main{
	background-color: rgba(0, 33, 0, 0.1);
	position:relative;
	left: 10px;
	padding: 10px;
}
#moi{
	position:relative;
	top:0px;
	font-style:italic;
}
img{
	position:relative;
	left: 5px;
	float:left;
	border: 1px solid black;
	border-radius: 20px;
	padding: 5px;
	background-color: white;
}

section{
	background-color:#FFF;
	position:relative;
	border: 1px solid black;
	min-height: 40px;
	transition: all 1.5s;
	margin: 5px;
}
section:hover{
	background-color: yellow;
	text-shadow: 0px 1px 1px #000;
	border: 1px dashed fuchsia;

}
.link {
  text-decoration: none;
  color: blue;
  transition: all 1s, color 2s;
}

.link:hover{
	color: #CCC;
	text-shadow: 1px 1px 0px green;
}

footer{
	font-family: "Comic Sans MS", cursive;
	font-size: 10px;
	color: red;
	text-align: center;
}
	
#userlist_box {
  background-color: #FFF;
  padding: 10px;
}	